:root{
    /* Definindo as variáveis globais */

    --cor-principal:#142d46;
    --cor-destaque:#7854c1;
    --cor-fundo:#f8e3f7;

    --font-principal:'Arial', 'sans-serif';
    --font-titulo: 'Georgia', serif;
}

body{
    font-family: var(--font-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
    font-size: 16px;
    padding: 20px;
}

header{
    text-align: center;
    margin-bottom: 30px;
}

header h3{
    font-family: var(--font-titulo);
    color: var(--cor-destaque);
    font-size: 2.5rem;
}

header p{
    font-size: 1.2rem;
}

section{
    background-color: white;
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    width: 80vw;
}

/* Utilizando um ID */
#destaque{
    font-weight: bold;
    color: var(--cor-destaque);
}

/* Utilizando uma class */
.card{
    background-color: var(--cor-destaque);
    color: white;
}

.card h2{
    font-size: 1.5rem;
}

.card ul{
    margin-top: 10px;
    list-style: circle;
}

.card li{
    font-size: 1.1rem;
    margin: 8px 0;
}

.card li span{
    font-weight: bold;
}

#foto-perfil{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px, solid var(--cor-destaque);
    margin: 10px auto;
}

footer{
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
}